.restaurants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurantCard{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 200px;
    margin: 20px;
}